<p id="notice"><%= notice %></p>

<h1>Square Connectors</h1>

<table>
  <thead>
    <tr>
      <th>Client_id</th>
      <th>Client_secret</th>
      <th>Access_token</th>
      <th>Refresh_token</th>
      <th>Expired_at</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @square_connectors.each do |square_connector| %>
      <tr>
        <td><%= square_connector.client_id %></td>
        <td><%= square_connector.client_secret %></td>
        <td><%= square_connector.access_token %></td>
        <td><%= square_connector.refresh_token %></td>
        <td><%= square_connector.expired_at %></td>
        <td><%= link_to 'Destroy', square_connector_path(square_connector), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Square Connector', new_square_connector_path if SquareConnector.count < 1%>

