<h1>Environment</h1>
<% if @square_connector&.production%>
  <h4>Production</h2>
<% else %>
  <h4>Sandbox</h2>
<% end %>

<h1>Account Name</h1>
<h4><%= @name %></h2>

<h1>Connection Status</h1>
<% if @square_connector&.expired_at && (@square_connector.expired_at > Time.now)%>
  <h4>Connected and Active</h2>
<% else %>
  <h4>Expired  </h2>
<% end %>

<% if @square_connector %>
  <%= button_to 'disconnect', @square_connector, :method => :delete %>
<% end %>

<form action="/orders" method="get">
  <label for="date">Selected Date:</label>
  <input type="date" name="date" id="date">
  <input type="submit" value="Fetch Data">
</form>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Values</th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <th>Revenue Categories</th>
      <td> <%= @revenue_categories%> </td>
  </tr>
  <tr>
    <th>Revenue</th>
      <td> <%= @revenue%> </td>
  </tr>
  <tr>
    <th>Taxes </th>
    <td><%= @taxes %></td>
  </tr>
  <tr>
    <th>Tips </th>
    <td><%= @tips %></td>
  </tr>
  <tr>
    <th>Liabilities </th>
    <td><%= @liabilities %></td>
  </tr>
  <tr>
    <th>Assets </th>
    <td><%= @assets %></td>
  </tr>
  <tr>
    <th>Payment processors </th>
    <td><%= @payment_processors %></td>
  </tr>
  <tr>
    <th>Adjustements </th>
    <td><%= @adjustments %></td>
  </tr>
  <tr>
    <th>Balance </th>
    <td><%= @balanced %></td>
  </tr>

  </tbody>
</table>
